$font-size: 1.5rem;

.container {
  display: flex;
  justify-content: center;
  // align-items: center;

  width: 100%;
  height: 100dvh;
  // min-height: 100%;
  // border: 2px solid blue;
}

.form {
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;

  width: 30%;
  height: 20rem;
  max-height: 25rem;

  padding: 1.7rem 1.5rem;
  border: 2px solid black;
  border-radius: 1rem;

  margin-top: 15vh;

  @media (max-width: 1440px) {
    width: 40%;
  }

  @media (max-width: 1024px) {
    width: 60%;
  }

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 425px) {
    margin-top: 6vh;
  }

}

.label {
  display: flex;
  justify-content: space-between;
  
  font-size: $font-size;
  // border: 2px solid red;
  margin-bottom: 1.3rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

}

.loginOrSignUp {
  margin-top: 0rem;
  margin-bottom: 1.2rem;
}


.inputFields {
  max-width: 90%;
  font-size: $font-size;

  @media (max-width: 768px) {
    margin-top: 0.5rem;
  }

}

.toggleBetweenLoginAndSignUp {
  cursor: pointer;
  user-select: none;
  text-decoration: underline blue;
  font-size: 1.2rem;
  width: fit-content;
  border: 0px;
  background-color: transparent;
}

.loginOrSignUpButton {
  font-size: $font-size;

  width: fit-content;

  padding: 0.5rem;
  border: 0px;
  border-radius: 2rem;
  // margin-left: auto;

  background-color: rgb(188, 250, 188);

  transition: all 0.05s ease-out;
}

.right {
  margin-left: auto;
}

.loginOrSignUpButton:active { 
  transform: scale(0.9)
}

.invisible {
  visibility: hidden;
}

.ifUserNameTaken {
  margin-top: 0rem;
  margin-bottom: 0rem;
}