.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // width: 100%;
  // max-width: 80%;
  // message height also needs something specific i guess

}

.messageStatus {
  margin-right: 0.5rem;
}

