$distance-from-message: 0.75rem;

.messageAndTryAgainContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;

  gap: 3rem;

  width: fit-content;
  // parent needs to have a fixed height apparently
}

.rightSide {
  margin-right: $distance-from-message;
  margin-left: auto;
  background-color: rgb(217, 253, 211);
}

.leftSide {
  margin-left: $distance-from-message;
  margin-right: auto;
}

.containerForOverflow {
  overflow-y: scroll;
}