$distance-from-message: 0.75rem;
$border-radius: 0.5rem;

.messageAndTryAgainContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;

  gap: 3rem;

  width: fit-content;
  max-width: 80%;
  // parent needs to have a fixed height apparently
}

.rightSide {
  margin-right: $distance-from-message;
  margin-left: auto;
  background-color: rgb(217, 253, 211);
}

.leftSide {
  margin-left: $distance-from-message;
  margin-right: auto;
}

.containerForOverflow {
  overflow-y: scroll;
  padding: 0rem 1rem;
  // min-height: 100%;
  flex-grow: 1;
  // height: fit-content;

  display: flex;
  flex-direction: column;

  border: 2px solid red;
}

.inputFieldAndButtonContainer {
  display: flex;
  align-items: stretch;

  position: sticky;
  bottom: 0px;
  bottom: 0px;

  width: 100%;
  min-height: 2.5rem;

  background-color: white;
  // border: 2px solid blue;
}

.sendButton {
  width: fit-content;
  margin-left: 1rem;
  border-radius: $border-radius;
}

.inputField {
  flex-grow: 1;
  font-size: 1.2rem;
  border-radius: $border-radius;
  // margin-bottom: 0.5rem;
}


@media (max-width: 375px) {
  .messageAndTryAgainContainer {
    gap: 1rem;
    padding: 0rem;
  } 

  .sendButton {
    margin-left: 0rem;
  }

  .inputField {
    width: 85%;
  }

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  // width: auto;
  // flex-grow: 1;
}

.groupName {
  cursor: pointer;
}

.backButtonAndConvName {
  display: flex;
  
}
