.messageAndTryAgainContainer {
  display: flex;
  border: 2px solid black;
  gap: 3rem;
  justify-content: flex-start;
  flex-direction: row;
  // parent needs to have a fixed height apparently
}

.rightSide {
  margin-left: auto;
}

.leftSide {
  margin-right: auto;
}