// .messageAndTryAgainContainer {
//   display: flex;
//   border: 2px solid black;
//   gap: 3rem;
//   justify-content: flex-start;
// }

.groupListAndActiveChat {
  width: 95vw;
  height: 55vh;
  border: 2px solid black;

  display: flex;
  justify-content: flex-start;

}


.activeChatWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  box-sizing: border-box;
  width: 80%;
  height: 100%;

  overflow-y: scroll;
}